Contains all the test functions and testing programs.
<br><br>

It contains 3 test functions for the 1D optimizers:<br>
(x-a)^2 + 10 <br>
-(x-a)^2 + 10 <br>
(x-a)^2 + 4*sin((x-a)^2) + 10 <br><br>

It contains these same functions in multidimensions for the ND optimizers.
In addition it contains the function:<br>
(x-a)^2 + (y-a)^2 + 0.4*(x-a)^2*(y-a)^2
<br><br>

It also contains the class Test1DOptimizations and TestNDOptimizations.
These two classes randomly generates a value for "a" and allows you to choose which optimizer to use.
It will print out the results of the optimization.
<br><br>

Finally, TestDerivativeFunction is used to test that all derivative methods are working.