Optimization package used to optimize functions.
<br><br>

There are a few components to the optimization package: <br>
<a href="#optimizer">Optimizers</a> - Algorithms used to optimize the functions.<br>
<a href="#optimizable">Optimizables</a> - Functions to be optimized.<br>
<a href="#max">Maximizing</a> - How to maximize a function.<br>
<a href="#derivative">Derivatives</a> - How to find the first and second derivative numerically.<br>

<br><hr><br>
<a name="#optimizable">
<h3>Optimizable</h3>
<li>Optimizable1DContinuous</li><li>Optimizable1DContinuousDifferentiable</li><li>OptimizableNDContinuous</li><li>OptimizableNDContinuousDifferentiable</li></ul><br />1. <u>Optimizable1DContinuous</u> - Your function needs to be piecewise continuous for the given domain. Your function class needs to implement the following methods:<br /><br /><b>public double getValue(double x); </b><br />    Returns the value of your function with the input x.<br />    <br /><b>public double getDomainMin(); <br />public double getDomainMax(); </b><br />    Returns the minimum and maximum domain of your function. You should return Double.MIN_VALUE and DOUBLE.MAX_VALUE if your function is continuous everywhere.<br />    <br /><b>public double getRangeMin();<br />public double getRangeMax(); </b><br />    Returns the minimum and maximum range of your function. Some optimization functions may be faster if the range is known. However, no current optimizers use it.<br /><br /><b>public double getDomainTolerance();</b><br />    Returns the tolerance of the function. The optimizers will stop calculating once the the difference between 2 iterations is less than the tolerance.<br />    <br />2. <u>Optimizable1DContinuousDifferentiable</u> - Your function needs to be differentiable for the given domain. It is not necessary to implement Optimizable1DContinuousDifferentiable for a differentiable function. Doing so just gives you some more optimizers that can be used. Your function class needs to implement the following methods in addition to the ones in Optimizable1DContinuous:<br /><br /><b>public double getDerivative(double x);<br />public double get2ndDerivative(double x);</b><br />    Returns the first and the second derivatives of the functions. <br /><br />3. <u>OptimizableNDContinuous </u>- Your function needs to be piecewise continuous for the given domain. Your function class needs to implement the following methods:<br /><br /><b>public int getNumberOfDimensions();</b><br />    Returns the number of dimensions your function has.<br />    <br /><b>public double getValue(double x[]); </b><br />    Returns the value with the given set of points.<br />    <br /><b>public double[] getDomainMin(); <br />public double[] getDomainMax(); <br />public double[] getRangeMin();<br />public double[] getRangeMax(); </b><br />    These methods are like the ones for Optimizable1DContinuous except that an array of doubles is returned. Each element, n, in the array corresponds to the nth value for the nth dimension. You should return Double.MIN_VALUE and DOUBLE.MAX_VALUE if value is unknown or is continuous everywhere.<br /><br /><b>public double getDomainTolerance();</b><br />    Returns the tolerance of the function. The optimizers will stop calculating once the the difference between 2 iterations is less than the tolerance.<br /><br />4. <u>OptimizableNDContinuousDifferentiable </u>- Your function needs to be differentiable for the given domain. It is not necessary to implement OptimizableNDContinuousDifferentiable for a differentiable function. Doing so just gives you some more optimizers that can be used. Your function class needs to implement the following methods in addition to the ones in OptimizableNDContinuous:<br /><br /><b>public double[] getDerivative(double []x);</b><br />    Returns an array of derivatives at the given location x. Each element, n, in the array corresponds to the derivative of the nth dimension.<br />    <br /><b>public double[][] get2ndDerivative(double []x);</b><br />    Returns a matrix of second derivatives (Hessian) at the given location x. <br />    <br /><b>public double get2ndDerivative(double[] x, int dim1, int dim2);</b><br />    Returns the value of the second derivative at a given location x in the direction dim1, dim2.<br />

<br><hr><br>
<a name="#optimizer">
<h3>Optimizers</h3>
<div>There are 4 types of optimizers that you can use:<br /><ul><li>Optimizer1DContinuous</li><li>Optimizer1DContinuousDifferentiable</li><li>
OptimizerNDContinuous</li><li>
OptimizerNDContinuousDifferentiable</li></ul>
<br />
Your function must implement the Optimizable version of the interface.<br />
<br />
<u>1D Optimizers:</u><br />

<br />
<b>GoldenSectionSearch1D</b>:<br />
    This uses the golden section search to find extremas. It implements Optimizer1DContinuous. It is essentially a binary search with optimized ratios for distances traveled per iteration.<br />
    <br />
<b>NewtonMethod1D</b>:<br />
    This uses Newton's method to find extremas. It implements Optimizer1DContinuousDifferentiable. Your function must have 1st and 2nd derivatives. The 2nd derivative is used to find the roots of the 1st derivative, which in turn is where the extrema of the function is.<br />
    <br />
<b>BrentMethod1D;<br />    </b>This uses Brent's method to find extremas. It will use the faster method of Parabolic Interpolation when the function is nice, and it will revert to the more robust Golden Section Search when it isn't. It implements Optimizer1DContinuous.<br />

<br />
<u>Using these 1D optimizers:</u><br />
<br />
There are 2 constructors for each of these optimizers:<br />
    <b>public Constructor(); <br />
    public Constructor(int maxIter);</b><br />
    The default constructor will use the default setting of 1000
iterations. You can also choose to set your own maximum iterations.<br />
<br /></div>
To <b>initialize </b>your function:<br /><div>

    <b>public void initialize(Optimizable1DContinuous function);<br />
    public void initialize(Optimizable1DContinuousDifferentiable function);</b><br />
    Depending on whether the optimizer takes in an
Optimizable1DContinuous or an Optimizable1DContinuousDifferentiable
function, you will call one of these methods.<br />
<br />
To <b>optimize</b>:<br />
    <b>public boolean optimize(boolean findMinima);</b><br />
    You then call this method with true if you're looking for the minimum or false if you're looking for the maximum. It will return whether it was able to succesfully optimize the function.<br />

<br />
To get the <b>extrema</b>:<br />
    <b>public double getExtrema();</b><br />
    This method returns the extrema location.<br />
<br />
To get the <b>status message</b>:<br />
    <b>public String statusMessage();</b><br />

    It will return a string of the status message telling you
things such as whether the maximum number of iterations has been
reached and whether it has converged to a single location. It may be as null until a message is stored, so it does not necessarily have to return a meaningful String object.<br />
    <br />
<u>ND Optimizers:</u><br />
<br />
<b>LineSearchND</b>:<br />
    This uses 1D optimizers to optimize one dimension at a time. The constructors are as follows:<br />
        <b>public LineSearchND();<br />
        public LineSearchND(Optimizer1DContinuous alg);<br />

        public LineSearchND(intmaxIter);<br />
        public LineSearchND(Optimizer1DContinuous alg, int maxIter);</b><br />
    The default maximum iterations is 1000 and the default algorithm is GoldenSectionSearch1D.<br />
    The <b>initialize </b>method is:<br />
        <b>public void initialize(OptimizableNDContinuous function);</b><br />
    It takes in an OptimizableNDContinuous function.<br />
<br />
<b>LineSearchNDDifferentiable</b>:<br />

    This is the same as the LineSearchND except that the 1D optimizer
is an Optimizer1DContinuousDifferentiable instead of an
Optimizer1DContinuous.<br />
<br />
<b>DownhillSimplexND</b>:<br />
    This uses Nelder and Mead's simplex method for finding the extrema. The constructors are as follows:<br />
        <b>public DownhillSimplexND();<br />
        public DownhillSimplexND(int maxIter);</b><br />
    The default maximum iterations is 1000. <br />
    These are the choices for the <b>initialize </b>method:<br />

       <b> public void initialize(OptimizableNDContinuous function);<br />
        public void initialize(OptimizableNDContinuous function, double center[], double rad);</b><br />
    You can specify an initial guess as to where the extrema is which
is located at center. rad is the radius around the center where the
extrema might be. By specifying values, it may make calculations faster. The default value for center is the midpoint of the domain. The
default value for rad is the average of half the width of the domain in
each dimension. For example, if your domain for each dimension is
[-100, 100], then rad is 100.<br />
    <br />
<b>LM:<br />    </b>This uses the Levenberg-Marquardt Method of finding extrema. The constructors are as follows:<b><br />        public LevenbergMarquardt();<br />        public LevenbergMarquardt(int maxIter);<br />    </b>The default maximum iterations is 1000.<b><br />   </b> The <b>initialize </b>methods are:<b><br />        public void initialize(OptimizableNDContinuousDifferentiable function);<br />        public void initialize(OptimizableNDContinuousDifferentiable function, double[] init);<br />     </b>You can specify an initial guess as to where the extrema is which is located at center. By specifying values, it may make calculations faster. The default value for the starting point is the midpoint of the domain.<br /><span>    </span><span>    </span><br /><u>Using these ND Optimizers:<br /><br /></u>

In addition to the constructor and initialize method mentioned above, each optimizer also has:<br />
<b>    boolean optimize(boolean findMinima);<br />
    public double[] getExtrema();<br />
    public String statusMessage();</b><br />
They are the same as for the 1D optimizers except that getExtrema() returns an array of the location of the extrema.<br />

<br><hr><br>
<a name="#max">
<h3>Maximizing Functions</h3>
To maximize a function, we simply need to minimize the negative of the function. To do this, there are 4 MinToMax classes:<br>
<ul><li>MinToMax1D</li><li>MinToMax1DDifferentiable</li><li>MinToMaxND</li><li>MinToMaxNDDifferentiable</li></ul>
These MinToMax classes will negate the value, derivative, and second derivative of the function. This is how the built in optimizers maximize functions.
When false is passed into public void initialize(boolean findMinima), it will pass the function through one of the MinToMax classes.<br>

<br><hr><br>
<a name="#derivative">
<h3>Numerical Derivatives</h3>
The derivatives used by the optimizers are calculated numerically. You can use Forward Euler's Method, Backward Euler's Method, 3-point,
5-point, 7-point, or 9-point. 3-point is the default one. You can also specify the step size. The default is 1e-5.<br><br>
To use the derivative class for 1D functions, you will need to call one of the following constructors:<br>
<b>public FunctionNumeric1DDifferentiation(Optimizable1DContinuous function);<br>
public FunctionNumeric1DDifferentiation(Optimizable1DContinuous function, double step, int method);</b><br>
The second constructor allows you to specify your step size and method to use. 0 is Forward Euler, 1 is Backward Euler, and 3, 5, 7, 9 are 3-, 5-, 7-, 
and 9- point derivatives respectively.<br><br>
To use the derivative class for ND functions, you will need to call one of the following constructors:<br>
<b>public FunctionNumericNDDifferentiation(OptimizableNDContinuous function);<br>
public FunctionNumericNDDifferentiation(OptimizableNDContinuous function, double step, int method);</b><br>
The second constructor allows you to specify your step size and method to use.<br><br>
Both of these differentiators implement the interfaces Optimizable1DContinuousDifferentiable and OptimizableNDContinuousDifferentiable respectively.