<h1> Java Imaging Science Toolkit (JIST) Open Source Plugin Repository</h1>
<b>Formerly known as the <i>MedIC Automated Pipeline Scheduler (MAPS)  </i></b>
 <h3> License Updated: $Id: JIST-OSPlugin-License.html,v 1.2 2010/08/11 21:02:41 bennett Exp $ </h3>
 <center>
 <p><b><i>Developed by</i></b>
 <h3>
 Image Analysis and Communications Laboratory, The Johns Hopkins University, Baltimore, MD
 <br>Laboratory for Medical Image Computing, The Johns Hopkins University School of Medicine, Baltimore, MD
 </h3>
 </center>
 
 <p> This software has been developed at the above institutions with the support of <...>. 
 The following individuals (listed alphabetically) have made valuable contributions to this project.
 <ul>
 <li> Aaron Carass
 <li> Bennett Landman, bennett.landman@vanderbilt.edu
 <li> Blake Lucas
 <li> John Bogovic
  </ul>
  
  <p><i>N.B. If you contribute to this project, please add your institution, funding source/sponsor/employer, and name to the above lists.</i>
    
<br><b>All copyrights for contents of the JIST repository are held by the
principle investigators of IACL, MedIC, and MASI research labs 2005-2010. Copyright
for the contents of the plugin repository are held by the original
contributor, as noted in the files. When copyright is not explicitly noted
for a file in the plugin repository, copyrights are held by the principle
investigators of IACL, MedIC, and MASI research labs.</b> 
 
 
 <h2>JIST Open Source Plugin Repository License</h2>
 <pre>
 *
 * Unless specifically noted to the contrary, software located in this 
 * repository is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation; either version 2.1 of the License, or (at
 * your option) any later version.  The human-readable license is available at:
 * <a href=http://creativecommons.org/licenses/LGPL/2.1/>http://creativecommons.org/licenses/LGPL/2.1/</a>
 *
 * The full text of the license is here: <a href=JIST-OSPlugin-LGPL.txt>JIST LGPL License</a>.
 *
 </pre>
 
 <h2>This effort was made possible by numerous open source projects. For details of the contributions, please see the 
 JIST-License.html which is included in the JIST distribution.</h2>